&-nav {
  &-menu {
    list-style-type: none;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat( 2, 1fr );
    padding-left: 0;

    @include media( '>md' ) {
      grid-template-columns: repeat( 3, 1fr );
    }

    @include media( '>lg' ) {
      grid-template-columns: repeat( 1, 1fr );
    }
  }
}
