$white:                   #fff;
$black:                   #000;

$cct:                     #5cbdea;

$main:                    #33d3ca;
$light:                   #fff3e5;
$accent:                  #d654a5;
$bright:                  #f7941e;
$dark:                    #3d4352;



// Base body.
$body-bg-color:           $white;
$body-bg-image:           linear-gradient(
                            135deg,
                            rgba( $accent, 0.25 ) 15%,
                            rgba( $bright, 0.25 ) 50%,
                            rgba( $main, 0.35 ) 85%
                          );
$body-text:               $dark;

// Base links.
$link-text:               $accent;
$link-text-hover:         darken( $accent, 15% );

// Regions.
$region-bg:               $light;
$region-border:           $dark;
$region-bg-image:         linear-gradient(
                            180deg,
                            rgba( $black, 0 ) 0.95rem,
                            rgba( $black, 1 ) 1rem,
                            rgba( $black, 0 ) 1.0625rem
                          ),
                          linear-gradient(
                            180deg,
                            rgba( $white, 0 ) 0%,
                            rgba( $white, 0 ) 1rem,
                            rgba( $white, 1 ) 1rem,
                            rgba( $white, 1 ) 100%
                          ),
                          linear-gradient(
                            90deg,
                            rgba( $main, 0.5 ) 20%,
                            rgba( $bright, 0.5) 60%,
                            rgba( $accent, 0.5) 100%
                          );
$region-shadow:           2px 2px 0 0 rgba( $region-border, 1);

// Navigation.
$nav-link-bg:             $light;
$nav-link-bg-hover:       darken( $nav-link-bg, 10% );
$nav-link-border:         $dark;
$nav-link-shadow:         2px 2px 0 0 rgba( $nav-link-border, 1);
$nav-link-shadow-hover:   -1px -1px 0 0 rgba( $nav-link-border, 1);
$nav-link-text:           $dark;
$nav-link-text-hover:     $dark;



// CCT Button.
$cct-button-bg:           $cct;
$cct-button-border:       darken( $cct-button-bg, 15% );
$cct-button-shadow:       2px 2px 0 0 rgba( $dark, 1);
$cct-button-shadow-hover: -1px -1px 0 0 rgba( $dark, 1);
$cct-button-text:         $white;
$cct-button-text-hover:   $white;
