// Typography variables.

$baloo: 'Baloo 2', cursive;
$lato:  'Lato', sans-serif;
$prime: 'Courier Prime', monospace;



// Site declarations.
$body-font:       $lato;
$heading-font:    $baloo;

// Status bar.
$status-bar-font: $prime;

// Button.
$button-font:     $prime;
