// Typography variables.

$headings:    'Baloo 2', cursive;
$sans-serif:  'Lato', sans-serif;
$mono:        'Nanum Gothic Coding', monospace;



// Site declarations.
$body-font:         $sans-serif;
$heading-font:      $headings;

// Status bar.
$status-bar-font:   $mono;

// Marquee.
$marquee-font:      $headings;

// Button.
$button-block-font: $mono;
$button-badge-font: $mono;
