<p class="tama-footer-text">CCT 506 Group M footer information.</p>

<nav class="button-nav">
  <ul class="button-menu">
    <li class="button-item"><a class="button-link button-link-cct" href="https://cct.georgetown.edu/" aria-label="CCT 506 Now!"><img src="{{ '/build/img/cct.png' | url }}"> 506 Now!</a></li>
    <li class="button-item"><a class="button-link button-link-gu" href="https://georgetown.edu/">Georgetown University</a></li>
    <li class="button-item"><a class="button-link button-link-github" href="https://github.com/cctp506m/tamagotchi">Project on GitHub</a></li>
    <li class="button-item"><a class="button-link button-link-tama-wiki" href="https://tamagotchi.fandom.com/">Tamagotchi Wiki</a></li>
  </ul>
</nav>
