<nav class="tama-footer-nav">
  <ul class="tama-footer-menu">
    <li class="tama-footer-item"><a class="tama-footer-nav-link button-badge button-badge-cct" href="https://cct.georgetown.edu/" aria-label="CCT 506 Now!"><img src="{{ '/build/img/cct.png' | url }}">506 Now!</a></li>
    <li class="tama-footer-item"><a class="tama-footer-nav-link button-badge button-badge-gu" href="https://georgetown.edu/">Georgetown University</a></li>
    <li class="tama-footer-item"><a class="tama-footer-nav-link button-badge button-badge-github" href="https://github.com/cctp506m/tamagotchi">Project on GitHub</a></li>
    <li class="tama-footer-item"><a class="tama-footer-nav-link button-badge button-badge-tama-wiki" href="https://tamagotchi.fandom.com/">Tamagotchi Fandom Wiki</a></li>
  </ul>
</nav>

<p class="tama-footer-text">The Tamagotchi Project. © 2020, Hassan Beydoun, Glenn Grigsby, Reed Piernock, Chelsea Sanchez, Wei Zou.</p>
<p class="tama-footer-text">This website is a project created by students in the Communication, Culture & Technology program at the Graduate School of Arts and Sciences of Georgetown University. It is not sponsored by Tamagotchi nor its parent company, Bandai, and has no affiliation with either entity.</p>
<p>Icons on this site courtesy of <a href="https://fontawesome.com/">FontAwesome</a> through a <a href="https://fontawesome.com/license/free">CC BY 4.0 license</a>.</p>
