<ul class="tama-nav-info-menu">
  <li class="tama-nav-info-item tama-nav-info-item-home">
    <a class="button-block button-block-home" href="{{ '/' | url }}">
      <span class="fas fa-fw fa-home"></span>
      Home
    </a>
  </li>
  <li class="tama-nav-info-item tama-nav-info-item-images">
    <a class="button-block button-block-images" href="{{ '/images/' | url }}">
      <span class="fas fa-fw fa-image"></span>
      Images
    </a>
  </li>
  <li class="tama-nav-info-item tama-nav-info-item-search">
    <a class="button-block button-block-search" href="{{ 'https://www.google.com/search?q=tamagotchi' | url }}">
      <span class="fas fa-fw fa-search"></span>
      Search
    </a>
  </li>
</ul>
