---
title: Page title
---

<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <title>
    {% if homepage != true %}
      {{ title }} |
    {% endif %}
    Tamagotchi | Group M</title>
</head>

<body>

  <header>
    <h1>Tamagotchi</h1>
  </header>

  <nav>
    <p>the site navigation menu</p>
  </nav>

  <main>
    {% if homepage != true %}
      <h1>{{ title }}</h1>
    {% endif %}

    {{ content }}
  </main>

  <footer>
    <p>CCTP-506 Group M footer information.</p>
  </footer>

</body>
</html>
