<ul class="tama-nav-menu">
  <li class="tama-nav-item"><a class="tama-nav-link" href="{{ '/' | url }}">Home</a></li>
  <li class="tama-nav-item"><a class="tama-nav-link" href="{{ '/about/' | url }}">About</a></li>
  <li class="tama-nav-item"><a class="tama-nav-link" href="{{ '/architecture/' | url }}">Architecture</a></li>
  <li class="tama-nav-item"><a class="tama-nav-link" href="{{ '/algorithm/' | url }}">Algorithm</a></li>
  <li class="tama-nav-item"><a class="tama-nav-link" href="{{ '/system/' | url }}">System</a></li>
  <li class="tama-nav-item"><a class="tama-nav-link" href="{{ '/bibliography/' | url }}">Bibliography</a></li>
</ul>
