<ul class="tama-nav-menu">
  <li class="tama-nav-item tama-nav-item-architecture">
    <a class="tama-nav-link" href="{{ '/architecture/' | url }}">
      <span class="fas fa-fw fa-egg"></span>
      About Tama Pets
    </a>
  </li>
  <li class="tama-nav-item tama-nav-item-algorithm">
    <a class="tama-nav-link" href="{{ '/algorithm/' | url }}">
      <span class="fas fa-fw fa-project-diagram"></span>
      How Tamas Work
    </a>
  </li>
  <li class="tama-nav-item tama-nav-item-system">
    <a class="tama-nav-link" href="{{ '/system/' | url }}">
      <span class="fas fa-fw fa-fast-backward"></span>
      Tama Nostalgia
    </a>
  </li>
  <li class="tama-nav-item tama-nav-item-biblio">
    <a class="tama-nav-link" href="{{ '/bibliography/' | url }}">
      <span class="fas fa-fw fa-book"></span>
      More Tama Info
    </a>
  </li>
</ul>
