&-diagram {

  &-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .info {
    &-annotations {
      list-style-type: none;
      padding-left: 0;
      background: lightslategray;
    }

    &-label {
      position: absolute;
      background-repeat: no-repeat;
    }

    &-device {
      &-keychain {
        top: 0;
        left: 0;
        width: calc( 50% - ( 25px + 40px ) );
        padding-right: calc( 25px + 40px );
        background-image: url( '../build/img/arrow-right.svg' );
        background-size: 40px;
        background-position: top 0 right 25px;
      }

      &-shape {
        top: 0;
        right: 0;
        width: calc( 50% - 20px - 20px );
        padding-left: calc( 20px + 20px );
        background-image: url( '../build/img/arrow-down.svg');
        background-size: 20px;

      }
    }
  }
}
