&-header {
  display: grid;
  grid-template-columns: 75px auto;
  grid-gap: 1rem;
  align-items: center;
  justify-items: start;
  font-size: 1rem;
  line-height: 1;

  @include media( '>=sm' ) {
    grid-template-columns: 100px auto;
    font-size: 1.5rem;
  }

  @include media( '>=md' ) {
    grid-gap: 2rem;
    font-size: 1.625rem;
  }

  &-text {
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  &-img {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    transform: rotate( -20deg );

    @include media( '>=md' ) {
      margin-top: -3.5rem;
      margin-bottom: -2.5rem;
    }
  }
}
