body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $body-bg-color;
  background-image:
    url( '../img/stripe.png' ),
    url( '../img/stars.png' ),
    $body-bg-gradient;
  color: $body-text;
}
