---
title: The Tamagotchi Project
---

<!doctype html>

<html class="tama">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if homepage != true %}
      {{ title }} |
    {% endif %}
    The Original Tamagotchi | Group M
  </title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Courier+Nanum+Gothic+Coding:wght@400;700&display=swap">
  <link rel="stylesheet" href="{{ '/build/css/tamagotchi.min.css' | url }}">

  <script src="https://kit.fontawesome.com/d772444b1c.js" crossorigin="anonymous"></script>
</head>

<body>

  <nav class="tama-skip" aria-label="Skip Links">
    {% include "skip-links" %}
  </nav>

  <div class="tama-container">

    <header class="tama-region tama-header">
      {% include "header" %}
    </header>

    <nav id="nav" class="tama-nav" aria-label="Main Navigation">
      {% include "navigation" %}
    </nav>

    <nav class="tama-nav-info" aria-label="Info Links">
      {% include "info" %}
    </nav>

    <main id="main" class="tama-region tama-main" aria-label="Main Content">
      {% include "main" %}

      {% if citation == true %}
        <p>Read all <a href="{{ '/bibliography/' | url }}">works cited and referenced</a> on this page and website.</p>
      {% endif %}
    </main>

    <footer class="tama-region tama-footer">
      {% include "footer" %}
    </footer>

  </div>

</body>
</html>
