.button {

  // Button blocks.

  &-block {
    display: block;
    min-width: 4.5rem;
    max-width: 5.5rem;
    padding-top:$button-block-space-top;
    padding-right: $button-block-space-right;
    padding-bottom:$button-block-space-bottom;
    padding-left: $button-block-space-left;
    background-color: $button-block-bg;
    border: 2px outset $button-block-border;
    box-shadow: $button-block-box-shadow;
    color: $button-block-text;;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 600;
    font-family: $button-block-font;
    text-align: center;
    text-decoration: none;

    [ class *= 'fa-' ] {
      display: block;
      margin-right: auto;
      margin-bottom: $button-block-fa-space-bottom;
      margin-left: auto;
      font-size: 1.5rem;
      text-align: center;
    }

    //Button block variants.
    @at-root .tama-nav-info .button-block {
      min-width: auto;
      max-width: auto;
    }
  }

  // Button badges.
  &-menu {
    list-style-type: none;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat( 2, 1fr );
    padding-left: 0;

    @include media( '>sm' ) { grid-template-columns: repeat( 3, 1fr ); }
    @include media( '>md' ) { grid-template-columns: repeat( 4, 1fr ); }
    @include media( '>lg' ) { grid-template-columns: repeat( auto-fill, minmax( 9rem, 1fr) ); }
  }

  &-link {
    display: block;
    height: 2.5rem;
    padding: 0.25rem;
    border: 2px outset $button-border;
    box-shadow: $button-shadow;
    background-color: $button-bg;
    color: $button-text;
    font-family: $button-font;
    line-height: 1;
    text-decoration: none;

    &:focus,
    &:hover {
      box-shadow: $button-shadow-hover;
      background-color: $button-bg-hover;
      color: $button-text-hover;
    }

    img {
      max-height: 100%;
    }



    // Button variants.
    &-cct {
      background-color: $button-bg-cct;
      color: $button-text-cct;

      &:focus,
      &:hover {
        background-color: $button-bg-hover-cct;
        color: $button-text-hover-cct;
      }

      img {
        margin-top: -0.25rem;
        margin-left: -0.25rem;
      }
    }

    &-gu {
      background-color: $button-bg-gu;
      color: $button-text-gu;

      &:focus,
      &:hover {
        background-color: $button-bg-hover-gu;
        color: $button-text-hover-gu;
      }
    }
  }
}
