$cct-size: 2rem;

&-footer {

  .cct-button {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: $cct-size 1fr;
    align-items: end;
    width: 5rem;
    border: 2px outset $cct-button-border;
    box-shadow: $cct-button-shadow;
    background-color: $cct-button-bg;
    color: $cct-button-text;
    font-size: 0.75rem;
    line-height: 1;
    font-family: $cct-button-font;
    text-decoration: none;

    &:focus,
    &:hover {
      box-shadow: $cct-button-shadow-hover;
      color: $cct-button-text-hover;
    }
  }
}
