&-nav {
  &-link {
    display: block;
    padding-top: $nav-link-space-top;
    padding-right: $nav-link-space-right;
    padding-bottom: $nav-link-space-bottom;
    padding-left:$nav-link-space-left;
    background-color: $nav-link-bg;
    border: 2px outset $nav-link-border;
    box-shadow: $nav-link-shadow;
    color: $nav-link-text;
    line-height: 1;
    text-decoration: none;

    &:focus,
    &:hover {
      background-color: $nav-link-bg-hover;
      box-shadow: $nav-link-shadow-hover;
      color: $nav-link-text-hover;
    }
  }
}
