& &-skip {
  &-link {
    z-index: 1;
    position: absolute;
    top: -50rem;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;

    &:focus {
      top: 0;
    }
  }
}
