body {
  font-size: 20px;
  line-height: 1.4;
  font-family: $body-font;
}



:first-child { margin-top: 0; }
:last-child { margin-bottom: 0; }



a {
  transition: all 0.5s ease;
  color: $link-text;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $link-text-hover;
    text-decoration: underline;
  }
}



h1 {
  font-family: $heading-font;
}
